<%- include('../partials/header') %>

<section class="note">
    <form action="/notes/<%=note._id%>?_method=PUT" method="POST" class="update-form">
        <input type="text" name="title" value="<%=note.title%>"  placeholder="Header" class="new_note_header">
        <p>This was last edited on <%= note.updateDate %></p>
        <input type="text" name="content" value="<%=note.content%>" placeholder="Your interesting thoughts here" class="new_note_content">
        <p>Note created at <%= note.createDate %></p>
        <button type="submit">Save Changes</button>
    </form>

    <form action="/notes/<%=note._id%>?_method=DELETE" method="POST" class="delete-form">
        <button type="submit">Delete</button>
    </form>
</section>


<%- include('../partials/footer') %>