<%- include('../partials/header') %>
<!-- Not currently in use, but for future non-editable notes -->
<section class="note">
    <h1><%= note.title %></h1>
    <p>This was last edited on <%= note.updatedAt %></p>
    <p><%= note.content %></p>
    <p>Note created at <%= note.createdAt %></p>
</section>
<%- include('../partials/footer') %>